@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #051605;
    --background: #f7fdf7;
    --primary: #059669;
    --secondary: #94cce7;
    --accent: #6581dd;
  }
  .dark {
    --text: #eafaea;
    --background: #020802;
    --primary: #34d399;
    --secondary: #19506c;
    --accent: #223e9b;
  }
}